# Large ML artifacts
Artifacts/bert_results/
Artifacts/artifacts/bert_sentiment_model/
data/
*.pt
*.safetensors
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
customer/
venv/
.env/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Model cache
.cache/
